@{
    ViewBag.Title = "Sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




<div class="container align-bottom" style="padding-top:0em">
    <br />
    <fieldset class="border p-2 rounded bg-light">
        <legend class="w-auto"> <br />Creado por: </legend>
        <div class="row py-0">
            <div class="col-sm-6">
                <address>
                    <strong>Barly Eduardo Espinal</strong><br>
                    <a href="mailto:#">20174928@itla.edu.do</a>
                </address>
            </div>
            <div class="col-sm-6">
                <address>
                    <strong>Ángel Maria Perez</strong><br>
                    <a href="mailto:#">germaaf@gmail.com</a> <br>
                    <a href="mailto:#">20164247@itla.edu.do</a>
                </address>
            </div>
        </div>

    </fieldset>
</div>