@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" style="margin-top:16px; border-radius: 10px 10px 10px 10px;">
        <div class="carousel-item active" data-interval="5000">
            <img src="https://i.ibb.co/ZGNRBnC/1-1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block" style="background:rgba(0, 132, 236,0.6); border-radius:23px 23px 23px 23px;">
                <h5 style="color:snow">Para los estudiantes</h5>
                <p style="color:snow">Los estudiantes podrán mejorar su capacidad de aprendizaje.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="https://i.ibb.co/W0w0z9t/2-1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block" style="background:rgba(0, 132, 236,0.6); border-radius:23px 23px 23px 23px;">
                <h5>Para la motivación</h5>
                <p>Los alumnos tendrán la facilidad de demostrar su capacidad de aprendizaje.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="https://i.ibb.co/fdZGZtG/3-1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block" style="background:rgba(0, 132, 236,0.6); border-radius:23px 23px 23px 23px;">
                <h5>Para la enseñanza</h5>
                <p>Los maestros podrán planear sus tácticas de enseñanza.</p>
            </div>
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="https://i.ibb.co/ryFG14N/4-1.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block" style="background:rgba(0, 132, 236,0.6); border-radius:23px 23px 23px 23px;">
                <h5>Para el maestro</h5>
                <p>Los maestros podrán estructurar, organizar y implementar su forma de ensenar.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" style="margin-top:16px">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Quieres saber mas!!! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>